.cover-picture {
    position: relative;
    max-width: 100%;
}
.cover-picture:hover .cover-picture-picture {
    opacity: 0.2;
    -webkit-opacity: 0.2;
    -o-opacity: 0.2;
    -ms-opacity: 0.2;
}
.cover-picture .cover-picture-picture {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.cover-picture .cover-picture-text {
    position: absolute;
    top: 0;
    left: 0;
}
